bandit==1.7.5
black==23.11.0
click==8.1.7
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.1
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.0.7
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
pbr==6.0.0
platformdirs==4.0.0
Pygments==2.16.1
pynvim==0.4.3
python-dotenv==1.0.0
PyYAML==6.0.1
rich==13.7.0
smmap==5.0.1
stevedore==5.1.0
tomli==2.0.1
typing_extensions==4.8.0
